
.demo-showcase-area{
    border-radius: 5px;
    background: #FFF;
    box-shadow: var(--shadow-1);
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    .content-text{
        padding: 72px 0 55px 50px;
        max-width: 50%;
        h5{
            color: #141417;
            font-size: 20px;
            font-weight: 700;
            line-height: 30%;
            margin-bottom: 40px;
            span{
                color: var(--color-primary);
            }
        }
        h2{
            color: #141417;
            font-size: 28px;
            font-weight: 700;
            line-height: 40px;
            margin-bottom: 20px;
        }
    }
    .right-image{
        img{
            filter: drop-shadow(0px 20px 40px rgba(24, 83, 56, 0.15));
        }
        .one{
            position: absolute;
            top: -37px;
            right: 60px;
        }
        .two{
            position: absolute;
            right: -64px;
            top: -25px;
        }
        .small{
            position: absolute;
            right: 45%;
            bottom: 30px;
        }
    }
}
.tmp-elements-area-two .section-inner .left-content-area ul li img {
    filter: brightness(0) saturate(100%) invert(61%) sepia(59%) saturate(388%) hue-rotate(39deg) brightness(90%) contrast(92%);
}
.invers-feature-6{
    border-radius: 5px;
    background: #FFF;
    box-shadow: var(--shadow-1);
    padding: 54px 50px 0 50px;
    height: 100%;
    &.speed{
        padding: 54px 50px 30px 50px;
        .title{
            margin-top: 30px;
            text-align: center;
        }
    }
    .title{
        color: #141417;
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .invers-thumbnail{
        position: relative;
        .invers-img-1{
            width: 100%;
        }
        .invers-img-2{
            border-radius: 50%;
            box-shadow: -20px 20px 70px 0px rgba(0, 0, 0, 0.25);
            position: absolute;
            right: -24px;
            top: -24px;
            animation-duration: 2.5s;
            animation-fill-mode: both;
            animation-iteration-count: infinite;
            animation-name: bounceSlide;
        }
    }
}

@keyframes bounceSlide {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
}

.quore-feature-right-area{
    border-radius: 5px;
    background: #FFF;
    box-shadow: var(--shadow-1);
    padding: 65px 64px;
    height: 100%;
    .title{
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .text{
        margin-bottom: 184px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
    }
    .right-thumbnail{
        position: relative;
        .display-page{
            width: 100%;
        }
        .color{
            position: absolute;
            right: 28px;
            top: -115px;
            border-radius: 10px;
            box-shadow: 0px 20px 50px 10px rgba(0, 0, 0, 0.2);
        }
        .pick-drop{
            position: absolute;
            right: 15px;
            top: -147px;
            animation: round-1 1s infinite alternate;
        }
    }
}

@keyframes round-1 {
    0% { 
        transform: translateY(0); 
    }
    100% { 
        transform: translateY(-10px); 
    }
}