

.wrapper-movement{
    position: absolute;
    left: 8%;
    top: 55%;
    .prebuild-design-btn {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        text-align: center;
        background: var(--color-white);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow: var(--shadow-1);
        animation: 2s linear .5s infinite alternate both floatInvers;
        .title{
            font-weight: 700;
            margin-bottom: 0;
            font-size: 42px;
            color: var(--color-heading-1);
            position: relative;
            span{
                position: absolute;
                top: -20px;
                right: -22px;
                font-weight: 300;
                font-size: 40px;
            }
        }
        p{
            font-size: 16px;
            font-weight: 500;
            line-height: 1.3;
            text-transform: uppercase;
            color: var(--color-heading-1);
        }
    }
}

@keyframes floatInvers {
    0% { transform: translateY(0px); }
    50% { transform: translateY(5px); }
    100% { transform: translateY(10px); }
}
