

.wrapper-movement{
    position: absolute;
    left: 8%;
    top: 55%;
    .prebuild-design-btn {
        height: 224px;
        width: 224px;
        border-radius: 50%;
        text-align: center;
        background: var(--color-white);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        box-shadow: var(--shadow-1);
        .title{
            font-weight: 700;
            margin-bottom: 10px;
            font-size: 52px;
            color: var(--color-heading-1);
        }
        p{
            font-size: 20px;
            font-weight: 500;
            line-height: 1.5;
            text-transform: uppercase;
        }
    }
}